<div id="{{id}}-slider" class="right-side-slider article-slider">

	<div class="article-slider-output">
		<p class="article-slider-publication">{{publication}}</p>
		<img class="article-slider-image" src="{{articleImg}}">
		<h4 class="article-slider-title">{{title}}</h4>
		<p class="article-slider-byline">{{byline}}</p>
		<p class="article-slider-date">{{datePretty}}</p>
		<p class="article-slider-summary">{{summary}}</p>
		<p class="article-slider-read-article"><a href="{{url}}" target="_blank">Go To Article &raquo;</a></p>
	</div>

	<div class="visitor-item">
    <a href="/sign-up"><button class="fake-worthy-btn"> + WORTHY</button></a>
		<a class="cta-link" href="/sign-up"><p id="cta-message">sign up or log in to deem this article</p>
     <p id="cta-logo" > News Worthy </p></a>
	</div>

	<div class="user-item hide-element">
		<button id="{{id}}-worthy-btn" data-id="{{id}}" class="add-worthy-btn"> + WORTHY</button>
		<button id="{{id}}-bundle-btn" data-id="{{id}}" class="bundle-it-btn bundle-slider-trigger">BUNDLE IT!</button>
		<button id="{{id}}-save-btn" data-id="{{id}}" class="add-save-btn">SAVE</button>
	</div>

	<div class="article-data" id="{{id}}-data" type="hidden" data-publication="{{publication}}" data-url="{{url}}" data-headline="{{headline}}" data-section="{{section}}" data-subsection="{{subsection}}" data-title="{{title}}" data-byline="{{byline}}" data-summary="{{summary}}" data-date="{{date}}" data-image="{{articleImg}}" data-imageLarge="{{articleImgLg}}"></div>

</div>

<div id="{{id}}-slider-bg" class="article-slider-bg"></div>
