<div id="{{articleTempId}}-slider" class="right-side-slider article-slider">

	<div class="article-slider-output">
		<p class="article-slider-publication">{{publication}}</p>
		<img class="article-slider-image" src="{{image}}">
		<h4 class="article-slider-title">{{title}}</h4>
		<p class="article-slider-byline">{{byline}}</p>
		<p class="article-slider-summary">{{summary}}</p>
		<a href="{{url}}" class="article-slider-read-article">Read Full Article...</a>
	</div>

	<button class="add-worthy-btn"> + WORTHY</button>

</div>

<div id="{{articleTempId}}-slider-bg" class="article-slider-bg"></div>