<div id="{{headlineSlug}}-slider" class="right-side-slider headlines-slider">

	{{#each articles}}
		<div class="article-summary article-slider-trigger" data-id="{{id}}">
			<img class="article-summary-image article-slider-trigger" src="{{articleImg}}" data-id="{{id}}">
			<h4 class="article-summary-title article-slider-trigger" data-id="{{id}}">{{title}}</h4>
			<p class="article-summary-publication article-slider-trigger" data-id="{{id}}">{{publication}}</p>
		</div>
		
	{{/each}}

</div>

<div id="{{headlineSlug}}-slider-bg" class="headlines-slider-bg"></div>