<div id="{{headlineSlug}}-slider" class="right-side-slider headlines-slider">

	{{#each articles}}
		<div class="article-summary" data-id="{{articleTempId}}">
			<img class="article-summary-image" src="{{image}}">
			<h4 class="article-summary-title">{{title}}</h4>
		</div>
		
	{{/each}}

</div>

<div id="{{headlineSlug}}-slider-bg" class="headlines-slider-bg"></div>