<div class="worthy-page-container">

    <div class="title-container worthy-title-container">
        <h1>News Worthy</h1>
        <h4 class="title-date">{{today}}</h4>
    </div>

    <div id="worthy-articles-container">

        {{#each worthyArticles}}
            <div class="article-summary article-slider-trigger" data-id="{{id}}">
                <img class="article-summary-image article-slider-trigger" src="{{articleImgLg}}" data-id="{{id}}">
                <h3 class="article-summary-title article-slider-trigger" data-id="{{id}}">{{title}}</h3>
                <p class="article-summary-publication article-slider-trigger" data-id="{{id}}">{{publication}}</p>
	    	</div>
        {{/each}}
    </div>

</div>

<div id="bottom-nav-container">
    <img class="nav-icon" src="/images/nav-icon.svg">
</div>



<div class="side-slider-container">

    {{> nav-slider}}

    {{#each worthyArticles}}
        {{> article-slider}}
    {{/each}}
    
</div>